[Unit]
Description=Create SR-IOV VFs for network interface
Requires=sys-subsystem-net-devices-%i.device
After=sys-subsystem-net-devices-%i.device
Before=systemd-networkd.service

[Service]
Type=simple
Environment="NUMVFS=5"
EnvironmentFile=-/etc/default/create-sriov-vfs-net
ExecStart=/usr/bin/create-sriov-vfs net %I $NUMVFS

[Install]
WantedBy=multi-user.target
